<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('partials/head') %>
    <title>Profile Page</title>
</head>
<body>
    <div class="container">
        <header class="text-center">
            <h1>Profile Page</h1>
            <a href="/logout" class="btn btn-light btn-sm">
                Logout
            </a>
        </header>

        <header class="container">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Local</h3>
                        <p>
                            <strong>id</strong>: <%= user.id %> <br>
                            <strong>email</strong>: <%= user.local.email %> <br>
                            <strong>password</strong>: <%= user.local.password %> <br>
                        </p>
                        <a href="/logout" class="btn btn-light"> Logout</a>
                    </div>

                </div>
            </div>
        </header>
    </div>
</body>
</html>